#set($classInfo=$collection.classInfo)
#set($tableInfo=$collection.tableInfo)
package ${classInfo.packageName}.controller;

import java.util.List;
import com.x.utils.data.Page;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${classInfo.classFullName};
import ${classInfo.packageName}.service.${classInfo.className}Service;

@RestController
@RequestMapping("/${classInfo.handleName}")
public class ${classInfo.className}Controller {

	@Autowired
	private ${classInfo.className}Service ${classInfo.handleName}Service;

    /**
     *  根据ID查询
     */
    @GetMapping("/findById/{id}")
    public ${classInfo.className} findById(@PathVariable("id") Long id){
        return ${classInfo.handleName}Service.findById(id);
    }

    /**
     * 分页查询
     */
    @PostMapping("/pageQuery")
    public Page pageQuery(@RequestBody Page<${classInfo.className},${classInfo.className}> page){
        return ${classInfo.handleName}Service.pageQuery(page);
    }

    /**
     * 新增或更新
     */
    @PostMapping("/saveOrUpdate")
    public long saveOrUpdate(@RequestBody ${classInfo.className} ${classInfo.handleName}){
        return ${classInfo.handleName}Service.saveOrUpdate(${classInfo.handleName});
    }

    /**
     * 按主键删除
     */
    @PostMapping("/deleteById/{id}")
    public int deleteById(@PathVariable("id") Long id){
        return ${classInfo.handleName}Service.deleteById(id);
    }
}