#set($classInfo=$collection.classInfo)
#set($tableInfo=$collection.tableInfo)
package ${classInfo.packageName}.dao;

import ${classInfo.classFullName};
import com.x.base.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Repository;

@Mapper
public interface ${classInfo.className}Mapper extends BaseMapper<${classInfo.className}, Long> {
    /**
     * 按主键更新非空字段
     */
    int updateNotEmpty(${classInfo.className} ${classInfo.handleName});
}
